/* Index */
.welcome-txt{
    text-align: center;
    font-weight: 300;
    color: #999999;
    font-size: 35px;
    margin-top: 10%;
    position: relative;
}

.button-container{
    margin-top: 2% !important;
    margin-left: 28% !important;
    position: relative;
}

.index-btn{
    width: 30% !important;
}

.search-btn, .stream-btn{
    font-size: 18px !important;
    font-weight: 200 !important;
    color: #999999 !important;
}

/* Search API */
.search-txt{
    float: right;
    font-weight: 300;
    color: #999999;
    font-size: 30px;
    margin-top: 10%;
}

.search-input{
	width: 44% !important;
}

.tweet-block{
	height: 200px;
	margin-left: 20px;
}

.bottom-content{
	bottom: 10px !important;
	position: absolute;
}

a:hover{
	text-decoration:none !important;
}